body {
    background-color: deepskyblue;
}

h1 {
    color: white;
}

p1 ul{
    padding-left: 0px;
    padding-top: 0px;
}

p2 ul {
    padding-left: 0px;
    padding-top: 0px;
}

.boxed {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: 10%;
    margin-top: 1%;
    padding: 5px;
    padding-right: 5px;
    border: 2px solid black;
    background-color: white;

}

.boxed2 {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: 35%;
    margin-top: 1%;
    padding: 5px;
    border: 2px solid black;
    background-color: white;
}

.boxed3 {
    position: absolute;
    width: 125px;
    margin-left: 23%;
    margin-top: 15%;
    padding: 5px;
    border: 2px solid black;
    background-color: white;
}
